
#cl-switch-container {
  width: 1000px;
  height: 1000px;
  margin: auto;
  text-align: center
}

.cl-switch-on {
  width: 256px;
  height: 256px;
  background: url('assets/switch-on.png'); no-repeat;
  margin: auto;
}

.cl-switch-off {
  width: 256px;
  height: 256px;
  background: url('assets/switch-off.png'); no-repeat;
  margin: auto;
}
