body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #111111;
}

.text-container {
  width: 85%;
  height: 90%;
  margin: auto;
  position: absolute;
  font-family: PIXEAL;
}

.p {
  margin: auto;
}

.cl-switch--on {
  background-color: E73F33;
}

img {
  width: 100%;
}

.cl-switch-container {
  width: 15%;
  margin: auto;
  position: relative;
}

.cl-switch-on {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.cl-switch--on .cl-switch-on {
  opacity: 1;
}

.cl-switch-off {
  width: 100%;
}
